/* html {
    user-select: none;
} */

.game-info {
    width: 100vw;
    height: clamp(75px, 10vh, 200px);
}

.game-grid {
    margin: 0 auto;
    display: grid;
    /* width: 900px;
    height: 900px; */
    width: clamp(300px, 95vw, 750px);
    height: clamp(300px, 75vh, 750px);
    grid-template: 33% 33% 33% / 33% 33% 33%;
    border: 1px solid blue;
}

.tic {
    display: flex;
    border: 1px solid red;
    min-width: 50px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}