/* html {
    user-select: none;
} */

.game-grid {
    margin: 0 auto;
    display: grid;
    width: 900px;
    height: 900px;
    grid-template: 30% 30% 30% / 30% 30% 30%;
    border: 1px solid blue;
}

.tic {
    border: 1px solid red;
    min-width: 50px;
    min-height: 50px;
}